## List

In [1]:
lst = []
lst1 = [1,2,3,4,5]
print(len(lst1))
print(lst1[0])

5
1

In [3]:
print(lst1[3])

4

In [4]:
print(lst1[-1])

5

In [5]:
mixed_data_types = ['Lalit','Gajanan','Humane',28,5.11,'single','near jagtap petrol pump hamalpura amravati ']

In [6]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

In [7]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
print(len(it_companies))

7

In [9]:
print(it_companies[0])

Facebook

In [10]:
print(it_companies[-1])

Amazon

In [11]:
print(it_companies[4])

IBM

In [12]:
lst1[2] = ['Flipkart']

In [13]:
print(lst1)

[1, 2, ['Flipkart'], 4, 5]

In [14]:
it_companies[2] = 'Flipkart'

In [15]:
print(it_companies)

['Facebook', 'Google', 'Flipkart', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [16]:
it_companies.append('Netflix')

In [17]:
print(len(it_companies))

8

In [18]:
it_companies.insert(5,'Tata')

In [19]:
print(it_companies)

['Facebook', 'Google', 'Flipkart', 'Apple', 'IBM', 'Tata', 'Oracle', 'Amazon', 'Netflix']

In [20]:
str1 = str(it_companies)

In [21]:
str1.upper()

"['FACEBOOK', 'GOOGLE', 'FLIPKART', 'APPLE', 'IBM', 'TATA', 'ORACLE', 'AMAZON', 'NETFLIX']"

In [22]:
li_it_companies = list(str1)

In [23]:
print(li_it_companies)

['[', "'", 'F', 'a', 'c', 'e', 'b', 'o', 'o', 'k', "'", ',', ' ', "'", 'G', 'o', 'o', 'g', 'l', 'e', "'", ',', ' ', "'", 'F', 'l', 'i', 'p', 'k', 'a', 'r', 't', "'", ',', ' ', "'", 'A', 'p', 'p', 'l', 'e', "'", ',', ' ', "'", 'I', 'B', 'M', "'", ',', ' ', "'", 'T', 'a', 't', 'a', "'", ',', ' ', "'", 'O', 'r', 'a', 'c', 'l', 'e', "'", ',', ' ', "'", 'A', 'm', 'a', 'z', 'o', 'n', "'", ',', ' ', "'", 'N', 'e', 't', 'f', 'l', 'i', 'x', "'", ']']

In [24]:
print(it_companies)

['Facebook', 'Google', 'Flipkart', 'Apple', 'IBM', 'Tata', 'Oracle', 'Amazon', 'Netflix']

In [25]:
'#'.join(str1)

"[#'#F#a#c#e#b#o#o#k#'#,# #'#G#o#o#g#l#e#'#,# #'#F#l#i#p#k#a#r#t#'#,# #'#A#p#p#l#e#'#,# #'#I#B#M#'#,# #'#T#a#t#a#'#,# #'#O#r#a#c#l#e#'#,# #'#A#m#a#z#o#n#'#,# #'#N#e#t#f#l#i#x#'#]"

In [26]:
print('Netfilx' in it_companies)

False

In [27]:
print(it_companies.sort())

None

In [28]:
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Flipkart', 'Google', 'IBM', 'Netflix', 'Oracle', 'Tata']

In [29]:
rev = it_companies.reverse()

In [30]:
print(rev)

None

In [31]:
print(it_companies)

['Tata', 'Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Facebook', 'Apple', 'Amazon']

In [32]:
print(it_companies[0:3])

['Tata', 'Oracle', 'Netflix']

In [33]:
print(it_companies[-1:-4:-1])

['Amazon', 'Apple', 'Facebook']

In [34]:
print(len(it_companies))

9

In [35]:
print(it_companies[5])

Flipkart

In [36]:
print(it_companies)

['Tata', 'Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Facebook', 'Apple', 'Amazon']

In [37]:
rem = it_companies.remove('Tata')

In [38]:
print(it_companies)

['Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Facebook', 'Apple', 'Amazon']

In [39]:
print(it_companies[5])

Facebook

In [40]:
mid_rem = it_companies.remove('Facebook')

In [41]:
print(it_companies)

['Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Apple', 'Amazon']

In [42]:
it_companies

['Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Apple', 'Amazon']

In [43]:
it_companies.remove('Amazon')

In [44]:
print(it_companies)

['Oracle', 'Netflix', 'IBM', 'Google', 'Flipkart', 'Apple']

In [45]:
it_companies.clear()

In [46]:
it_companies

[]

In [47]:
del it_companies

In [48]:
it_companies

NameError: name 'it_companies' is not defined

In [49]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [50]:
front_end.extend(back_end)

In [51]:
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [52]:
full_stack = front_end

In [53]:
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [54]:
full_stack.index('Redux')

4

In [55]:
full_stack.insert(5,'Python')

In [56]:
full_stack.insert(6,'SQL')

In [57]:
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [58]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [59]:
so = ages.sort()

In [60]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [61]:
print(max(ages))

26

In [62]:
print(min(ages))

19

In [63]:
ages.append(19)

In [64]:
ages.append(26)

In [65]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [66]:
print(len(ages))

12

In [67]:
print(ages[6:8]// 2)

TypeError: unsupported operand type(s) for //: 'list' and 'int'

In [68]:
print(sum(ages()) / len(ages))

TypeError: 'list' object is not callable

In [69]:
sum = sum(ages)

In [70]:
len = len(ages)

In [71]:
print(sum / len)

22.75

In [72]:
mid_item = ages[6:8]
print(mid_item)

[24, 25]

In [73]:
sum_mid_two = sum(mid_item)

TypeError: 'int' object is not callable

In [74]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [78]:
print(ages.sort())

None

In [76]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [77]:
max(ages)

26

In [79]:
min(ages)

19

In [80]:
ages.append(19)

In [81]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [82]:
print(len(ages))

TypeError: 'int' object is not callable

In [83]:
mid_two_values = ages[5:7]

In [84]:
su = sum(mid_two_values)

TypeError: 'int' object is not callable

In [85]:
print(su / 2)

NameError: name 'su' is not defined

In [86]:
sum1 = sum(ages)
length = len(ages)
average = sum1 / length
print(average)

TypeError: 'int' object is not callable

In [88]:
mx = max(ages)
mn = min(ages)
rang = mx - mn
print(rang)

7

In [89]:
comp1 = mx - average
comp2 = mn - average

NameError: name 'average' is not defined

In [90]:
print(comp1 , comp2)

NameError: name 'comp1' is not defined

In [100]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [101]:
print(len(countries))

TypeError: 'int' object is not callable

In [102]:
countries.append('India')

In [103]:
print(len(countries))

TypeError: 'int' object is not callable

In [104]:
print(194/2)

97.0

In [105]:
first_half = countries[0:98]
second_half = countries[97:]

In [106]:
print('this is first half part of the countries list :- {} and \n this is second half part of countries list :- {}'.format(first_half , second_half))

this is first half part of the countries list :- ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia'] and
 this is second half part of countries list :- ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'India']

In [107]:
lst_countries = ['China','Russia','USA','Finland','Sweden','Norway','Denmark']

In [108]:
print(lst_countries[0:3])

['China', 'Russia', 'USA']