# list comprehension is easiest way to create list 
# we can use loop and if conditions with list  comprehension

In [1]:
number = [i for i in range(21)]
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
number1 = [i for i in range(21) if i%2==0]
print(number1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
lal = 'Lalit hushar mulga'
number3 = [i for i in lal ]
print(number3)

['L', 'a', 'l', 'i', 't', ' ', 'h', 'u', 's', 'h', 'a', 'r', ' ', 'm', 'u', 'l', 'g', 'a']

In [4]:
numbers4 = [(i,i**i) for i in range(11) if i%2==0]
numbers4

[(0, 1), (2, 4), (4, 256), (6, 46656), (8, 16777216), (10, 10000000000)]

In [1]:
numbers5 = [(i,i*i) for i in range(11) if i%2==0]
numbers5

[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

In [2]:
nil = 'nilesh '
numbers6 = [i for i in nil ]
print(numbers6)

['n', 'i', 'l', 'e', 's', 'h', ' ']

In [3]:
numbers7 = [i for i in range(11)]
print(numbers7)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
numbers8 = [(i, i*i) for i in range(11) if i%1==0]
print(numbers8)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [6]:
numbers9 = [(i, i*i) for i in range(11) if i%3==0]
print(numbers9)

[(0, 0), (3, 9), (6, 36), (9, 81)]

In [7]:
numbers10 = [(i, i**i) for i in range(22)if i%3==0]
print(numbers10)

[(0, 1), (3, 27), (6, 46656), (9, 387420489), (12, 8916100448256), (15, 437893890380859375), (18, 39346408075296537575424), (21, 5842587018385982521381124421)]

In [1]:
sum_num = lambda a,b : a+b  #--- lambda function

In [3]:
print(sum_num(2,3))  #--- invoking / calling lambda function
print(sum_num(15,15))

5
30

In [5]:
print((lambda a,b: a*b)(2,3)) #--- Self invoking lambda function enclosed into print function

6

In [6]:
square = lambda x : x**2
print(square(4))

16

In [7]:
#filter only negative and zero in the list using list comprehension
#numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

def filter_list(numbers):
    z = [i for i in numbers if i >0]
    print(z)

In [8]:
x = [-4, -3, -2, -1, 0, 2, 4, 6]
filter_list(x)

[2, 4, 6]

In [20]:
#Flatten the following list of lists of lists to a one dimensional list :
#list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

def flatten_list(list_of_lists):
    # y = [number for row in list_of_lists for number in row]
    b = [ number for row in list_of_lists for number
     in row]
    print(b)

In [21]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flatten_list(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
fl = []
for i in list_of_lists:
    for j in i:
        fl.append(j)
print(fl)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
list_of_lists[0]

[[1, 2, 3]]

In [2]:
tuple_list = [(i) for i in range(10) ]
print(tuple_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
tuple_list2 = [(i,i*i) for i in range(101)]
print(tuple_list2)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225), (86, 7396), (87, 7569), (88, 7744), (89, 7921), (90, 8100), (91, 8281), (92, 8464), (93, 8649), (94, 8836), (95, 9025), (96, 9216), (97, 9409), (98, 9604), (99, 9801), (100, 10000)]

In [8]:
#Flatten the following list to a new list:
#countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

def flatten(list):
    d = [key for word in list for letter in word for key in letter]
    return d

In [9]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flatten(countries)

['Finland', 'Helsinki', 'Sweden', 'Stockholm', 'Norway', 'Oslo']

In [15]:
#Change the following list to a list of dictionaries:
#names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

def dictionary(data):
    f = [{j:k} for i in data for j,k in i ]
    return f

In [16]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
print(dictionary(names))

[{'Asabeneh': 'Yetayeh'}, {'David': 'Smith'}, {'Donald': 'Trump'}, {'Bill': 'Gates'}]

In [18]:
def new_flatten(data):
    g = [{j:l} for i in data for j,l in i]
    print(g)

In [19]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
new_flatten(countries)

[{'Finland': 'Helsinki'}, {'Sweden': 'Stockholm'}, {'Norway': 'Oslo'}]

In [25]:
#Change the following list of lists to a list of concatenated strings:
#names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
def concateneated_string(x):
    s = [k for i in string for j in i for k in j]
    print(s)

In [26]:
string = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
concateneated_string(string)

['Asabeneh', 'Yetayeh', 'David', 'Smith', 'Donald', 'Trump', 'Bill', 'Gates']

In [27]:
func = lambda x,y : x * y

In [28]:
print(func(5,5))

25

In [2]:
print([i for i in range(11) if i%2==0] )

[0, 2, 4, 6, 8, 10]

In [3]:
x = lambda x,y : x +y

In [4]:
print(x(5,4))

9

In [5]:
y = lambda x,y,z: x+y*z

In [6]:
print(y(4,5,6))

34

## map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)
## The map() function is a built-in function that takes a function and iterable as parameters.
## syntax :-
##    map(function, iterable)

In [2]:
num = [1,2,3,4,5,6]
def square_number(x):
    return x**2

In [4]:
numbers = map(square_number,num)
print(list(numbers))

[1, 4, 9, 16, 25, 36]

In [6]:
print(list(map(lambda x :x**2 ,num)))

[1, 4, 9, 16, 25, 36]

In [7]:
print(list(map(lambda c : c**3,[1,2,3,4,5,6])))

[1, 8, 27, 64, 125, 216]

In [8]:
number = ["1","2","3","4","5"]
print(type(number))

<class 'list'>

In [9]:
print(list(map(int,number)))

[1, 2, 3, 4, 5]

In [10]:
names = ["lalit","gajanan","humane"]
print(list(map(lambda names : names.upper(),names)))

['LALIT', 'GAJANAN', 'HUMANE']

## Python - Filter Function
## The filter() function calls the specified function which returns boolean for each item of the specified iterable (list) or any value . 
## It filters the items that satisfy the filtering criteria.
## syntax
##    filter(function, iterable)

In [12]:
import numpy as np
num = np.arange(10)

def is_even(n):
    if n %2==0:
        return True
    else:
        False

In [13]:
print(list(filter(is_even,num)))

[0, 2, 4, 6, 8]

In [53]:
long_names = ["Gengis Khan","Adolf Hitler","Saddam Husain","Buddha"]
def is_name_long(name):
    if len(name) >7:
        print ("Name is to long")
    else:
        print ('Short and Sweet')

In [54]:

l = list(filter(is_name_long,long_names))
print(l)

Name is to long
Name is to long
Name is to long
Short and Sweet
[]

In [59]:
long_names = ["Gengis Khan","Adolf Hitler","Saddam Husain","Buddha"]
def is_name_long(name):
    if len(name) >7:
        return False
    return True

In [60]:
l = list(filter(is_name_long,long_names))
print(l)

['Buddha']

## Python - Reduce Function
## The reduce() function is defined in the functools module and we should import it from this module. 
## Like map and filter it takes two parameters, a function and an iterable. However, it does not return another iterable, instead it returns a single value

In [26]:
from functools import reduce

numbers = ["1","2","3","4","5","6","7","8","9","10"]
def sum_of_two(x,y):
     return int(x) + int(y)

In [27]:
total = reduce(sum_of_two,numbers)
print(total)

55

In [28]:
countries = ['Estonia', 'Finland', 'Sweden', 'Denmark', 'Norway', 'Iceland']
names = ['Asabeneh', 'Lidiya', 'Ermias', 'Abraham']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# Use for loop to print each country in the countries list.

for i in countries:
    print(i)

Estonia
Finland
Sweden
Denmark
Norway
Iceland

In [30]:
# Use for to print each name in the names list.
for i in names:
    print(i)

Asabeneh
Lidiya
Ermias
Abraham

In [31]:
# Use for to print each number in the numbers list.
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
# Use map to create a new list by changing each country to uppercase in the countries list

def uppercase(x):
    return x.upper()

print(list(map(uppercase,countries)))

['ESTONIA', 'FINLAND', 'SWEDEN', 'DENMARK', 'NORWAY', 'ICELAND']

In [34]:
# Use map to create a new list by changing each number to its square in the numbers list
def square_num(x):
    return x**2

print(list(map(square_num,numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
# Use map to change each name to uppercase in the names list
def upp(x):
    return x.upper()

print(list(map(upp,names)))

['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

In [47]:
# Use filter to filter out countries containing 'land'.
def fil_land(x):
   # for i in x:
        if "land" in x:
         return x

In [48]:
print(list(filter(fil_land,countries)))

['Finland', 'Iceland']

In [ ]:
# Use filter to filter out countries having exactly six characters.
def fil(x):
    if