In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [2]:
print(len(it_companies))

7

In [3]:
adding_twitter = it_companies.add('Twitter')

In [4]:
print(it_companies)

{'Google', 'Amazon', 'Apple', 'Microsoft', 'Twitter', 'Oracle', 'Facebook', 'IBM'}

In [5]:
multiple_adding = it_companies.update(['TCS','TATA','Infosys'])

In [6]:
print(it_companies)

{'TCS', 'Microsoft', 'Facebook', 'IBM', 'Infosys', 'Oracle', 'TATA', 'Google', 'Amazon', 'Twitter', 'Apple'}

In [7]:
removing_company = it_companies.remove('TATA')

In [8]:
print(it_companies)

{'TCS', 'Microsoft', 'Facebook', 'IBM', 'Infosys', 'Oracle', 'Google', 'Amazon', 'Twitter', 'Apple'}

In [9]:
# Remove - if element does not found in remove then it raise error
# discard - if element does not found in discard it does not raise error

In [10]:
print(A)

{19, 20, 22, 24, 25, 26}

In [11]:
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [12]:
print(A.update(B))

None

In [13]:
print(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [14]:
print(A.intersection(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
print(A in B)

False

In [16]:
print(A.disjoints(B))

AttributeError: 'set' object has no attribute 'disjoints'

In [17]:
B.issubset(A)

True